.App {
  text-align: center;
  background-color: #f2f2f2;
}

.App-header {
  background-color: #202020;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}
